<app-master-detail [showDetail]="selectedId">
    <app-tree-view master [items]="items" (selectItem)="handleSelection($event)">
    </app-tree-view>
    <div detail class="is-flex-col" style="height: 100%;">
        <h1 *ngIf="error; else elseBlock">Error: {{error}}</h1>
        <ng-template #elseBlock>
            <div style="flex: 1;" class="is-flex-col">
                <div style="margin: 1rem;">
                    <input type="text" class="input" placeholder="Search..." [(ngModel)]="query"
                        (keyup.enter)="search(query, false)" />
                </div>
                <virtual-scroller #scroll [items]="logContent" style="flex: 1;">
                    <pre *ngFor="let line of scroll.viewPortItems" [innerHtml]="highlight(line, query)"></pre>
                </virtual-scroller>
            </div>
        </ng-template>
    </div>
</app-master-detail>