<div id="wrapper">
  <!-- <Modal class="has-text-centered" v-if="$store.state.offline">
    <h1 class="title has-text-white">Server Offline</h1>
    <h2 class="subtitle has-text-white">Attempting to Reconnect</h2>
    <div>
      <Indicator size="40"></Indicator>
      <input class="input is-inline" type="text" v-model.lazy.trim="host" />
    </div>
  </Modal> -->
  <nav class="level header">
    <!-- Left side -->
    <div class="level-left">
      <div class="level-item">
        <!-- <a>
          <span class="title">StartUp</span>
        </a> -->
        <div class="navbar-brand">
          <a class="navbar-item" routerLink="/">
            <img src="assets/startup-logo.png"/>
          </a>
        </div>
      </div>
      <div class="level-item tabs">
        <ul>
          <li routerLinkActive="is-active">
            <a routerLink="servers">Servers</a>
          </li>
          <li routerLinkActive="is-active">
            <a routerLink="logs">Log Files</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="level-right">
      <div class="buttons has-addons">
        <button class="button" *ngIf="isAuthenticated()" (click)="logout()" [disabled]="isScreenlocked()">
          <ng-container *ngIf="!isScreenlocked(); else screenlock">
            <fa-icon icon="sign-out-alt" class="icon"></fa-icon>
            <p>Logout {{username()}}</p>
          </ng-container>
          <ng-template #screenlock>
            <fa-icon icon="user" class="icon"></fa-icon>
            <p>{{username()}} <small>(ScreenLock)</small></p>
          </ng-template>
        </button>
        <button class="button" *ngIf="!isAuthenticated()" (click)="login()">
          <fa-icon icon="sign-in-alt" class="icon"></fa-icon>
          <p>Login</p>
        </button>
        <a title="Documentation" class="button" href="https://gitlab.pbn.bnl.gov/StartUp/frontend/-/wikis/home"
          target="_blank">
          <span class="icon">
            <fa-icon icon="life-ring"></fa-icon>
          </span>
        </a>
        <a routerLink="/logs/master" class="button" title="All Logs">
          <span class="icon">
            <fa-icon icon="file-alt"></fa-icon>
          </span>
        </a>
        <a class="button" target="_blank" title="Editor" [href]="'editor/' | backendUrl">
          <span class="icon">
            <fa-icon icon="edit"></fa-icon>
          </span>
        </a>
      </div>
    </div>
  </nav>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
  <div class="level is-mobile" style="background: whitesmoke">
    <div class="level-left">
      <span class="level-item">
        <span class="icon is-medium">
          <fa-icon icon="server"></fa-icon>
        </span>
        <p>{{ host }}</p>
      </span>
    </div>
    <div class="level-right"></div>
  </div>
</div>

<div class="notification__container">
  <div *ngFor="let notif of notifications" class="notification {{notif.class || 'is-info'}}">
    <button class="delete" (click)="closeNotification(notif)"></button>
    <h1 class="subtitle is-5">{{notif.title}}</h1>
    <p *ngIf="notif.body">{{notif.body}}</p>

    <div class="buttons has-addons" *ngIf="notif.actions" style="margin-top: 0.5rem;">
      <button class="button" (click)="handleNotificationAction(notif, action)" *ngFor="let action of notif.actions">
        <span>{{action.title}}</span>
      </button>
    </div>
  </div>
</div>